*{
  margin: 0;
  padding: 0;

}

.header{
  background-color: salmon;
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;

}

.content{
  width: 50%;
  margin: 3rem auto;
  text-align: center;
}

.word-display{
  font-size: 70px;
  text-align: center;
  color: sandybrown;
}

input[type=text]{
  width: 100%;
  height: 30px;
  margin-top: 3rem;
  border:0;
  border-bottom: 5px solid black;
  outline: none;
  padding-left: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}

.game-info{
  width: 220px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-info > div {
  font-size: 18px;
}


.time,
.score{
  font-size: 24px;
  font-weight: 600;
  margin-right: 5px;
}

.btn-start{
  width: 150px;
  height: 30px;
  background-color: coral;
  border: 0;
  outline: 0;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
